location  /frontend/proxy/open-endpoint/ {
    proxy_pass http://echo-server/;
}

location  /frontend/proxy/open-endpoint-no-cookie/ {
    proxy_set_header Cookie "";
    proxy_pass http://echo-server/;
}

location  /frontend/proxy/protected-endpoint/ {
    access_by_lua_file oidc_protected.lua;
    proxy_pass http://echo-server/;
}

location  /frontend/proxy/protected-endpoint-with-cookie-rewrite/ {
    access_by_lua_file oidc_protected.lua;
    proxy_set_header Cookie "ID_token=$cookie_loginapp_ID_token;";
    proxy_pass http://echo-server/;
}

location /frontend/env-data {
    add_header Content-Type text/plain;
    return 200 'APP_NAME: ${APP_NAME}';
}